*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* UTILITY */
.container{
    width: 60%;
    min-width: 500px;
    margin: auto;   
    
}

.flex{
    display:flex;
    justify-content: center;
}


.bg-blue{
    background-color: blue;
}

.bg-grey{
    background-color: lightgrey;
}

.bg-wsmoke{
    background-color: whitesmoke;
}

.bg-black{
    background-color: black;
}

/* NAV */



/* HEADER */

header{
    background-color: aqua;
}

.col{
    background: goldenrod;
    border: 2px dashed black;
    padding: 10px 5px;
    margin: 10px 0;
}


.col.logo, .col.login{
    width: 25%;    
}

.col.link{
    flex-grow: 1;
    text-align: center;
}

.login{
    text-align: end;
}

/* MAIN */

.box{
    margin: 35px 0;
    border: 1px dashed black;
    height: 200px;
}

.box.alone{
    background-color: fuchsia;
    width: 400px;
}

.box.one{
    background-color: aqua;
    height: 200px;
    width: 300px;
}

.box.two{
    background-color: pink;
    height: 200px;
    width: 150px
}

.box-big{
    margin: 35px 0;
    border: 1px dashed black;
    width: 450px;
    height: 350px;
    background-color: green;
}

/* FOOTER */

.one-two{
    background-color: pink;
    border: 1px dashed black;
    width: 150px;
 
}

.two-two{
    background-color: rgb(30, 162, 118);
    border: 1px dashed black;

    width: 300px;
}



.f-col{
    border: 1px dashed white;
    width: calc(100% / 4);
    height: 100%;
}