*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* UTILITY */
.container{
    width: 60%;
    min-width: 500px;
    margin: auto;   
    
}

.flex{
    display:flex;
    align-items: center;
    justify-content: center;
    
}


.color-blue{
    background-color: blue;
}



/* NAV */



/* HEADER */

header{
    background-color: aqua;
}

.col{
    background: goldenrod;
    border: 2px dashed black;
    padding: 10px 5px;
    margin: 10px 0;
}


.col.logo, .col.login{
    width: 25%;    
}

.col.link{
    flex-grow: 1;
    text-align: center;
}

.login{
    text-align: end;
}

/* MAIN */


.box-alone{
    margin: 35px 0;
    background-color: fuchsia;
    border: 1px solid black;
    height: 200px;
    width: 350px;
}

.box-one{
    margin: 35px 0;
    background-color: aqua;
    border: 1px solid black;
    height: 200px;
    width: 50%;
}

.box-two{
    margin: 35px 0;
    background-color: pink;
    border: 1px solid black;
    height: 200px;
    width: 30%;
}