*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* HEADER */

header{
    background-color: aqua;
}

.container{
    width: 60%;
    min-width: 500px;
    margin: auto;
    
}

.col{
    background: orange;
    border: 2px dashed black;
    padding: 5px;
}


.col.logo, .col.login{
    width: 25%;    
}

.col.link{
    flex-grow: 1;
    text-align: center;
}

.login{
    text-align: end;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}